@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
    --grad-color1: #c44689;
    --grad-color2: #432537;
    --main-color1: #fff;
    --main-color2: #fff;
}

body.preload * {
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #565656;
    height: 100vh;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    z-index: -5;
}

.container {
    background-color: #000;
    position: relative;
    left: 0;
    transition-property: left;
    transition-duration: 0.5s;
    width: 493px;
    height: 666px;
    background-position: center;
    border-radius: 30px;
    opacity: 1;
    display: grid;
    z-index: 2;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container > * {
    grid-column-start: 1;
    grid-row-start: 1;
}

.main-card-background::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(152deg, var(--grad-color1), var(--grad-color2));
    z-index: 2;
    opacity: 90%;
}

.background-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 3;
    padding: 0;
    margin: 0;
    filter: brightness(80%);
    position: relative;
    transition: opacity 0.5s;
}

.background-image.loading {
    opacity: 70%;
    transition: opacity 0.5s;
}

.container.alternative > .main-card-background > .background-image {
    opacity: 60%;
    transition: opacity 0.5s;
}

.search-card {
    display: flex;
    flex-direction: column;
    align-content: center;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-out;
    z-index: 3;
}

.search-location {
    margin-top: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.search-input-container {
    display: grid;
    height: auto;
    width: 60%;
    z-index: 0;
}

.search-input-container > * {
    grid-row-start: 1;
    grid-column-start: 1;
}
.search-input-container * {
    pointer-events: all;
}

.autocomplete-items-container {
    z-index: -1;
    margin-top: 18.5px;
    background-color: #fff;
    height: auto;
    border-radius: 0 0 18.5px 18.5px;
}

.autocomplete-items {
    padding: 5px 5px 5px 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1); */
    border-top: none;
    color: #000d;
    cursor: pointer;
    z-index: 5;
}

.autocomplete-items:first-child {
    margin-top: 19px;
    border-top: 1px solid #0002;
}

.autocomplete-items:last-child {
    border-radius: 0 0 10px 10px;
    padding-bottom: 10px;
}

/* .autocomplete-items div {
    padding: 10px;
/* }  */

.autocomplete-items:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* .autocomplete-items .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
/* background-color: rgba(0, 0, 0, 0.1); */
/* }  */

.clear-button {
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    position: relative;
    left: -8px;
    height: 37px;
    display: none;
    align-items: center;
    margin-left: auto;
    float: right;
}

.clear-button.visible {
    display: flex;
}

.clear-button:hover {
    color: rgba(0, 0, 0, 0.6);
}

.search-input-container input {
    display: flex;
    width: 100%;
    border-radius: 1000px;
    padding: 0 30px 0 20px;
    border: 0;
    height: 37px;
    color: #c44689;
}

input:focus {
    outline: none;
}

::placeholder {
    color: #c44689;
    opacity: 1;
}

.search-button {
    width: 37px;
    height: 37px;
    display: flex;
    align-content: center;
    justify-content: center;
    outline: none;
    background: var(--grad-color2);
    border: none;

    border-radius: 100px;
}

.search-button:hover {
    cursor: pointer;
    filter: brightness(75%);
}

.search-button svg {
    align-self: center;
}

.search-button svg path {
    fill: #fff;
}

.spinner {
    width: 17.6px;
    height: 17.6px;
    animation: spinner-o824ag 1s infinite linear;
    margin: 100px auto 0;
    transition: visibility 0s 0.25s, opacity 0.25s ease-out;
    visibility: hidden;
    opacity: 0;
}

.spinner div {
    position: absolute;
    width: 100%;
    height: 100%;
    background: violet;
    border-radius: 50%;
    animation: spinner-vse6n7 1.25s infinite ease;
}

.spinner div:nth-child(1) {
    --rotation: 90;
}

.spinner div:nth-child(2) {
    --rotation: 180;
}

.spinner div:nth-child(3) {
    --rotation: 270;
}

.spinner div:nth-child(4) {
    --rotation: 360;
}

.visible {
    visibility: visible;
    opacity: 100%;
    transition: visibility 0.25s, opacity 0.25s;
}

@keyframes spinner-vse6n7 {
    0% {
        transform: rotate(calc(var(--rotation) * 1deg)) translateY(0);
        filter: hue-rotate(0deg);
    }

    50% {
        transform: rotate(calc(var(--rotation) * 1deg)) translateY(300%);
    }
    100% {
        transform: rotate(calc(var(--rotation) * 1deg)) translateY(0);
        filter: hue-rotate(360deg);
    }
}

@keyframes spinner-o824ag {
    to {
        transform: rotate(360deg);
    }
}

.container.alternative .search-card {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.25s, opacity 0.25s ease-out;
}

.main-weather-card {
    visibility: hidden;
    height: 100%;
    width: 100%;
    opacity: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    transition: opacity 0.25s, visibility 0.25s;
    z-index: 4;
}

.container.alternative .main-weather-card {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}

.current-day {
    font-size: 37px;
    font-weight: 700;
}

.current-full-date {
    font-size: 22px;
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 13px;
}

.local {
    display: flex;
    gap: 8px;
}

.local img {
    width: 27px;
    height: 27px;
}

.local-text {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
}

.current-icon {
    width: 95px;
    height: 95px;
    object-fit: fill;
}

.current-temp {
    font-size: 50px;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0em;
    margin-top: 9px;
}

.current-weather {
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    margin-top: 13px;
    margin-bottom: 45px;
    text-transform: capitalize;
}

.sub-container {
    transition: width 0.5s, left 0.5s;
    width: 0px;
    height: 623px;
    background: #222831;
    border-radius: 0px 25px 25px 0px;
    position: relative;
    overflow: hidden;
    left: -20px;
    display: flex;
    padding: 55px 0 62px 0;
    z-index: -1;
}

.text-wrapper {
    width: 415px;
    position: relative;
    left: -540px;
    transition: left 0.5s, width 0.5s;
}

.sub-container.alternative {
    display: block;
    padding: 55px 50px 62px 75px;
    transition: width 0.5s, padding 0.5s;
    width: 540px;
    z-index: 1;
}

.sub-container.alternative .text-wrapper {
    left: 0;
    transition: left 0.5s;
}

.additional-information-group {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    white-space: nowrap;
}

.additional-label {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: var(--main-color1);
    text-transform: uppercase;
}

.sub-info {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: var(--main-color2);
}

.daily-card-group {
    display: flex;
    width: 100%;
    color: #fff;
    background: #272e37;
    margin-top: 79px;
    border-radius: 10px;
}

.daily-card {
    background: #272e37;
    width: 104px;
    height: 168px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.daily-card:first-child {
    background: linear-gradient(152deg, var(--grad-color1), var(--grad-color2));
    border-radius: 10px;
}

.daily-card:last-child {
    border-radius: 0 10px 10px 0;
}

.daily-icon {
    width: 55px;
    height: 55px;
    object-fit: fill;
    color: #fff;
}

.daily-day,
.daily-temp {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0em;
}

.daily-day {
    font-weight: 400;
}

.daily-temp {
    font-weight: 700;
}

.change-location-btn {
    width: 100%;
    height: 53px;
    background: linear-gradient(90deg, var(--grad-color2), var(--grad-color1) 100%);
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 69px;
    border: none;
    white-space: nowrap;
    z-index: 10;
}

.change-location-btn > img {
    width: 33px;
    height: 33px;
}

.change-location-label {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-left: 8px;
}
